# tomcat
server:
  port: 28083


spring:
  profiles:
    # 激活环境
    active: dev
  # 模板引擎
  thymeleaf:
    cache: false

  # 数据源
  datasource:
    name: myblog
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: ${mysql.username}
    password: ${mysql.password}
    hikari:
      min-pool-size: 5
      max-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: MyBlog
      max-lifetime: 30000
      connection-timeout: 30000
      connection-test-query: SELECT 1

# mybatis
mybatis:
  mapper-locations: classpath:mapper/*.xml