# tomcat
server:
  port: 28083


spring:
  profiles:
    # 激活环境
    active: dev

  # redis缓存
  redis:
    host: ${redis.host}
    port: ${redis.port}
    database: ${redis.database}
  # 数据源
  datasource:
    name: myblog
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: ${mysql.username}
    password: ${mysql.password}
    hikari:
      auto-commit: true
      idle-timeout: 30000
      pool-name: MyBlog
      max-lifetime: 30000
      connection-timeout: 30000
      connection-test-query: SELECT 1

# mybatis
mybatis-plus:
  global-config:
    db-config:
      # id策略
      id-type: auto
  # 实体包
  type-aliases-package: com.my.blog.pojo.po